# =========================
# DATABASE BASE VARS
# =========================
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

# =========================
# SPRING DATASOURCE
# =========================
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_DATASOURCE_DRIVER_CLASS_NAME=
SPRING_DATASOURCE_HIKARI_MAXIMUM_POOL_SIZE=
SPRING_DATASOURCE_HIKARI_MINIMUM_IDLE=
SPRING_DATASOURCE_HIKARI_CONNECTION_TIMEOUT=
SPRING_JPA_HIBERNATE_DDL_AUTO=

# =========================
# KAFKA
# =========================
KAFKA_BOOTSTRAP_SERVERS=
KAFKA_SCHEMA_REGISTRY_URL=
KAFKA_CONSUMER_GROUP_ID=
KAFKA_TOPIC_TRADES_EXECUTED=
KAFKA_TOPIC_TRADES_ALLOCATED=
KAFKA_TOPIC_TRADES_ALLOCATION_FAILED=
KAFKA_TOPIC_TRADES_EXECUTED_DLQ=
KAFKA_TOPIC_TRADES_EXECUTED_DLQ_MALFORMED=
OUTBOX_POLL_INTERVAL_MS=

# =========================
# MAILHOG
# =========================
SPRING_MAIL_HOST=
SPRING_MAIL_PORT=

# =========================
# APPLICATION
# =========================
SERVICE_CONTAINER_NAME=
SERVICE_VERSION=
SERVICE_PORT=
SERVICE_IMAGE_NAME=
SPRING_PROFILES_ACTIVE=

# =========================
# REDIS
# =========================
REDIS_HOST=
REDIS_PORT=
